@media all {
    @page {
        size: 79mm 297mm;
    }

    body html, h1, h2, h3, h4, h5, h6, p, span, div, table, thead, tbody, tfoot, tr, th, td {
        margin: 0;
        line-height: 1;
        padding: 0;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
        color: #000;
    }

    body {
        width: 79mm;
        background: #ffffff;
    }

    .fluid {
        width: 100%;
    }

    .block {
        display: block;
    }

    .bold-1 {
        font-weight: bold;
    }

    .bold-2 {
        font-weight: bolder;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-justify {
        text-align: justify;
    }

    .padding-top-sm {
        padding-top: 10px;
    }

    .padding-bottom-sm {
        padding-bottom: 10px;
    }

    .margin-top-sm {
        margin-top: 10px;
    }

    .margin-bottom-sm {
        margin-bottom: 10px;
    }

    .address {
        font-size: 12px;
    }

    .bordered {
        border-bottom: 1px dashed #000000;
        border-top: 1px dashed #000000;
    }

    .detail tr td:nth-child(1) {
        width: 5cm;
    }

    .detail tr td:nth-child(2) {
        width: 1.5cm;
        text-align: right;
    }

    .detail tr td:nth-child(3) {
        width: 0.5cm;
    }

    .detail tr td:nth-child(4) {
        width: 3cm;
        text-align: right;
    }
}